body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    background-color: #000000 !important;
    color: #FFFFFF !important;
    line-height: 1.6;
}

.navbar {
    background-color: #333333 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card {
    background-color: #333333 !important;
    border: 1px solid #555555;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-body {
    color: #FFFFFF;
}

.btn {
    margin: 0.25rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

iframe {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        /* 黒系の背景色に変更 */
        color: #FFFFFF;
    }

    header {
        background-color: #333333;
        /* 黒系のヘッダー色に変更 */
        color: #FFFFFF;
    }

    nav a {
        color: #FFFFFF;
        /* 黒系のリンク色に変更 */
    }

    section h2 {
        color: #FFFFFF;
        /* 黒系の見出し色に変更 */
    }

    footer {
        background-color: #333333;
        /* 黒系のフッター色に変更 */
        color: #FFFFFF;
    }
}